{% extends "realms/partials/header_dashboard.html" %}
{% block content %}


    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% with title=realm.name %}
                {% include "realms/partials/navbar.html"  %}
            {% endwith%}

            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Create new Badge</h3>
                    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
                </div>
            </div>

            <div>
                <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(size=32) }}<br>
                        {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form.xp.label }}<br>
                        {{ form.xp(size=1000) }}<br>
                        {% for error in form.xp.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form.required.label }}<br>
                        {{ form.required(size=1000) }}<br>
                        {% for error in form.required.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                    <p>{{ form.submit() }}</p>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
