{% extends "realms/partials/header_realm.html" %}
{% block content %}


    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% with title=realm.name %}
                {% include "realms/partials/navbar.html"  %}
            {% endwith%}

            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0"></h3>
                    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
                </div>
            </div>

            <div>

            </div>
        </div>
    </div>



{% endblock %}
