<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Gamificate - Open Source Gamification Engine</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    /* TODO: Try to minimize the font flickering */
    body{
        font-family: 'Russo One', sans-serif !important;
    }
</style>
<body>
    <header id="header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-custom">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Gamificate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
       
    </header>
    

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>