body {
    padding-top: 80px;
    background-color: #292825 !important;
}

.navbar-custom {
    background-color: #292825 !important;
    border-bottom: 1px solid black;
    font-size: 18px;
}

#yellow-btn {color:#fff; background-color:#fcca03;border-color:#fcca03}
#yellow-btn:hover{color:#fff;background-color:#ebbc02;border-color:#ebbc02}
#yellow-btn:focus,#yellow-btn.focus{box-shadow:0 0 0 .2rem #f8cd20}
#yellow-btn.disabled,#yellow-btn:disabled{color:#fff;background-color:#fcca03;border-color:#ebbc02}
#yellow-btn:not(:disabled):not(.disabled):active,#yellow-btn:not(:disabled):not(.disabled).active,.show>#yellow-btn.dropdown-toggle{color:#fff;background-color:#ebbc02;border-color:#000}
#yellow-btn:not(:disabled):not(.disabled):active:focus,#yellow-btn:not(:disabled):not(.disabled).active:focus,.show>#yellow-btn.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #ebbc02}
