
*:not(.left) {
    text-align: center;
}

h1 {
    font-size: 64px;
}

#logo {
    width: 85%;
}

#gamificate {
    padding-top: 80px;
    text-align: left;
}

#gamificate div div div.container {
    vertical-align: middle;
}

#gamificate, #about, #buymeacoffee{
    color: #292825;
}

#gamificate hr, #pricing hr , #about hr, #buymeacoffee hr{
    border-top: 1px solid rgb(119, 119, 119);
}

#gamification, #team {
    background-color: #fcca03;
    color: #292825;
    clear: both;
}

#pricing {
    background-color: #292825;
    color:white;   
}



section {
    padding: 50px;
}


#premium_btn {color:#fff; background-color:#fcca03;border-color:#fcca03}
#premium_btn:hover{color:#fff;background-color:#ebbc02;border-color:#ebbc02}
#premium_btn:focus,#premium_btn.focus{box-shadow:0 0 0 .2rem #f8cd20}
#premium_btn.disabled,#premium_btn:disabled{color:#fff;background-color:#fcca03;border-color:#ebbc02}
#premium_btn:not(:disabled):not(.disabled):active,#premium_btn:not(:disabled):not(.disabled).active,.show>#premium_btn.dropdown-toggle{color:#fff;background-color:#ebbc02;border-color:#000}
#premium_btn:not(:disabled):not(.disabled):active:focus,#premium_btn:not(:disabled):not(.disabled).active:focus,.show>#premium_btn.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #ebbc02}



#pricing div {
    color: #292825;
}

.img-gamification {
    width: 50%;
}


.navbar-custom {
    background-color: #292825 !important;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.features-list {
    display: flex; 
    flex-wrap: wrap;

}

.feature h3 {
    margin-top: -0.2em;
}

.feature p {
    padding: 0 1em;
}

.developer h3 {
    margin-top: 0.5em;
}

.card {
    border: 1px solid #292825;
    margin-top: 30px;
}


#whatis {
    padding-top: 20%;
}

@media (max-width: 992px) {
    #whatis {
        padding-top: 0%;
    }

    h1 {
        font-size: 48px;
    }
}
